dist*
cabal-dev/
*.swp
setting.yml
*.DS_Store
.shelly
.cabal-sandbox
*.sandbox.config
*.ann

#for Scala
*.class
*.log
target/
tmp/

# sbt specific
.cache/
.history/
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea_modules

# settings
conf.properties

# for C#
packages/
bin/
obj/
